<header-nav></header-nav>

<div id="holder" class="row">
  <div class="col-8">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-polygon
        [paths]="polygonCoords"
        [editable]="true"
        [clickable]="true"
        [geodesic]="true"
        [fillColor]="'#d18300'"
        [fillOpacity]="0.4"
        [strokeColor]="'#ffa800'"
        [polyDraggable]="true"
      >
      </agm-polygon>
    </agm-map>
  </div>

  <div class="col-3 pl-0">
    <h2>Choose area to cover with grid</h2>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Area name</mat-label>
        <input
          matInput
          type="text"
          id="searchInput"
          class="form-control"
          #search
        />
      </mat-form-field>
    </p>
    <button
      mat-button
      (click)="onConfirmSelection()"
      [disabled]="!isPlaceSelected"
    >
      Generate Plan
    </button>
    <app-spinner [isRunning]="isRequesting"></app-spinner>
  </div>
</div>
